@charset "UTF-8";
/* CSS Document */
/* COUL orange /!\ NE CHANGER QUE : les ref couleurs et la partie faisant référence au couleurs dans les noms des images de fond */

/* @group Tp ACCUEIL */

html {
	background :transparent url(../img/home-html-background-vertfonce.gif) repeat-y 16.4em 0;
}

div.leftcolumn {
	background :#fff url(../img/home-leftcolumn-appendix-vertfonce.gif) no-repeat right 298px;
}

/* @group RightColumn */

div.rightcolumn {
	background :#474e31 url(../img/rightcolumn-background-vertfonce.jpg) no-repeat right 22px;
}

div.rightcolumn ul ul li, div.rightcolumn ul ul li a{
	color:#dadbd8;
}

/* @end */

div.contentcolumn .innertube{
	background :transparent url(../img/contentcolumn-appendix-vertfonce.gif) no-repeat left 370px;
}

/* @group footer */

div.footer .footerlinks, div.footer .footerlinks a{ 
	color:#dadbd8;
}

div.footer .footerlinks .innertube{
	border-color:#dadbd8;
}

/* @end */

td.cms-only-rightcolumn, div.footerlinks-cms {
	background-color: #474e31;
}
/* @end */