div.rightcolumn ul li a.section-1{	background :transparent url(../img/fr/menu-title-universite-vertfonce.gif) no-repeat  -1px 0; }
div.rightcolumn ul li a.section-2{	background :transparent url(../img/fr/menu-title-recherche-vertfonce.gif) no-repeat  -1px 0; }
div.rightcolumn ul li a.section-3{	background :transparent url(../img/fr/menu-title-international-vertfonce.gif) no-repeat  -1px 0; }
div.rightcolumn ul li a.section-4{	background :transparent url(../img/fr/menu-title-formation-vertfonce.gif) no-repeat  -1px 0; }
div.rightcolumn ul li a.section-5{	background :transparent url(../img/fr/menu-title-viedescampus-vertfonce.gif) no-repeat  -1px 0; }
/* div.rightcolumn ul li a.section-6{	background :transparent url(../img/fr/menu-title-entreprises-vertfonce.gif) no-repeat  -1px 0; } */
div.rightcolumn ul li a.section-6{	background :transparent url(../img/fr/menu-title-culture-vertfonce.gif) no-repeat  -1px 0; }
/* div.rightcolumn ul li a.section-8{	background :transparent url(../img/fr/menu-title-intranet-vertfonce.gif) no-repeat  -1px 0; } */

div.rightcolumn ul li a:hover{ background-position:0 -16px; } /* A replacer ici sinon ne fonctionne pas */
