/* @override 
	http://127.0.0.1/~jlm/Site2008/Site2008/css/lip6.css
*/
html {
	font-size: 90%;
	background-color: #555b61;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #555b61), color-stop(1.0, #7a838c));
	background-image: linear-gradient(center top , #555b61, #7a838c);
	background-image: -webkit-linear-gradient(center top , #555b61, #7a838c);
	background-image: -moz-linear-gradient(center top , #555b61, #7a838c);
	background-image: -ms-linear-gradient(center top , #555b61, #7a838c);
	background-image: -o-linear-gradient(center top , #555b61, #7a838c);
	height: 100%;
}

* {
	margin: 0;	
}
body {
	color: #434343;
	max-width: 900px;
	margin: auto;
	padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 0.85em;
    line-height: 1.5em;
	border-right: 1px solid black;
	border-left: 1px solid #667f9e;
	box-shadow: 4px 8px 8px #363a3e;
}

td, form, dl {
	padding: 0;
	text-align: left;
}

img {
	border: 0;
}

img.rss {
	float: right;
	padding-top: 5px;
}

#centre span.comment table {
	width: 100%;
}

img.INFOLIP6 {
	float: right;
	margin: 5px;
	width: 106px;
	height: 150px;
}

img.INFOsLIP6 {
	width: 106px;
	height: 150px;	
}

.deux img.INFOsLIP6 {
	width: 85px;
	height: 120px;	
}

h1, h2, h3 {
	font-family: small Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-size: 1.4em;	
}

h2 {
	font-size: 1.3em;
	margin-bottom: 9px;
	}

h3 {
	font-size: 1.2em;
	}

/* @group ALaUne */
#ALaUne {
	float: right;
	max-width:210px;
	min-width: 0;
	background-color: #706b61;
	position: relative;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 0.9em;
    line-height: 1.4em;
	z-index: 1;
	padding-top: 5px;
	margin-left: 10px;
	border-radius: 0px 10px 0px 10px;
	-webkit-border-radius: 0px 10px 0px 10px;
	-moz-border-radius: 0px 10px 0px 10px;
	-o-border-radius: 0px 10px 0px 10px;
}

#ALaUne h1 {
	color: rgba(255,255,255,0.8);
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	letter-spacing: -1px;
	font-weight: normal;
	font-style: normal;
	padding-bottom: 5px;
	text-align: justify;
}

#ALaUne h2 {
	color: rgba(255,255,255,0.8);
}


#ALaUne li {
	margin: 0 10px 5px;
	border-bottom: 2px solid #abbecf;
}

#ALaUne ul li {
	border-bottom: none;
}


#ALaUne dd.INFOsLIP6 p {
	text-align: center;
}

#ALaUne dd.INFOsLIP6 {
/*	border-bottom-style: none;*/
}

#ALaUne ul {
	list-style-type: none;
	padding: 0;
}

#ALaUne p {
	color: white;
	text-align: left;
}

#ALaUne p.center {
	text-align: center;
}

#ALaUne a {
	color: rgba(255,255,255,0.6);
}

/* @group slideshow */
/* calculé en php en fonction du nombre de frames
@-webkit-keyframes AutoSlide {
	from, to, 10%  { left: -25px; }
	33%, 43% { left: -245px; }
	66%, 76% { left: -465px; }
}
*/
#slideshow {
	position: relative;    /*le parent positionné*/
	width: 200px;          /*limite en largeur (1 élément du slideshow)*/
	height: 380px;         /*limite en hauteur*/
	overflow: hidden;	/* tout ce qui dépasse est masqué */
	margin-left: 10px;
	margin-right: 15px;
}
#slideshow li {
	padding-left: 20px;
	border-bottom: none; /* pas de séparateur si on n'a qu'une info à la fois */
	display: block;
	float: left;
	width: 180px;
}
#slideshow ul {
	position: absolute;   /*on sort l'élément du flux*/
	top: 0;               /*on le positionne précisément dans ...*/
	left: 0;              /*l'angle haut gauche de son parent positionné*/
	margin: 0;            
	/* width: 660px; calculé en php. Assez large pour que cela ne passe pas à la ligne */
	
	/*animation-duration: 15s; calculé dans la page*/
	/* animation-name: AutoSlide; calculé dans la page */
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: ease-in-out;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: ease-in-out;
}

/* @end */
/* @end */


img.INFOLIP6 {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

img.INFOLIP6:hover {
    -webkit-transform: rotate(360deg) scale(2) translate(-2em,1em);
    -moz-transform: rotate(360deg) scale(2) translate(-2em,1em);
    -o-transform: rotate(360deg) scale(2) translate(-2em,1em);
    transform: rotate(360deg) scale(2) translate(-2em,1em);
}

div#iphone {
	width: 57px;
	background: url(../apple-touch-icon.png) no-repeat;
	margin-right: 8px;
	margin-top: 0;
	padding-top: 57px;
	float: left;
	line-height: 15px;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
}

p {
	text-align: justify;
	margin-top: 0;
	margin-bottom: 8px;
}


#conditions p {
	margin: 0;
}

p.signature {
	text-align: right;
}

#legal h2 {
	padding-top: 5px;
	margin: 0;
}

/* @group a */
a {
	color: #005aa2;
	text-decoration: none;
}

a.user {
	background: url(../images/user.png) no-repeat;
	background-position: 0% 65%;
	padding-left: 20px;
}

a.nouser {
	padding-left: 20px;
}

a.pdf {
	background: url(../images/mini-pdf.gif) no-repeat 0 0;
	padding-left: 20px;
	font-style: italic;
	padding-bottom: 2px;
}

a.pdf.large {
	background: url(../images/64-pdf.png) no-repeat 0 0;
	width: 64px;
	height: 64px;
}


a.external {
	background: url(../images/External.png) center right no-repeat;
	padding-right: 13px;
}

a.ics {
	background: url(../images/ics.png) no-repeat 0 0;
	float: right;
	width: 32px;
	height: 32px;
	margin-left: 8px;
}

a.voir {
	background: url(../images/AVoirBleu.png) no-repeat;
	background-position: 0% 65%;
	padding-left: 20px;
	font-style: italic;
}

a.voirD300 {
	background: url(../images/AVoirDesir.png) no-repeat;
	background-position: 0% 65%;
	padding-left: 20px;
	font-style: italic;
}

a.voirD500 {
	background: url(../images/AVoirDonnees.png) no-repeat;
	background-position: 0% 65%;
	padding-left: 20px;
	font-style: italic;
}

/* @end */

#haut {
	width: 900px;
	height: 146px;
}


#milieu {
	clear: both;
	width: 900px;
	padding: 0 0 0 0;
	background: #fef9ef url(../images/fondCote.jpg) repeat-y left;
	position: relative;
	display: inline-block;
}

/* @group bas */

#bas, div#bas.D0, div#bas.D50 {
/*	margin: 0 auto;*/
	clear: both;
	width: 900px;
	height: 45px;
	background: #fef9ef url(../images/BAS.png) no-repeat;
}

div#bas.D100 {
	background-image: url(../recherche/images/Bas-100.png);
}
div#bas.D300 {
	background-image: url(../recherche/images/Bas-300.png);
}
div#bas.D500 {
	background-image: url(../recherche/images/Bas-500.png);
}
div#bas.D700 {
	background-image: url(../recherche/images/Bas-700.png);
}
div#bas.D900 {
	background-image: url(../recherche/images/Bas-900.png);
}

#bas a {
	display: inline;
	float: right;
	position: relative;
	top: 25px;
	right: 9px;
	color: #e3e2d7;
}

#bas a:hover {
	color: #00FFFF;
}
/* @end */

#centre {
	width: 840px;
	float: right;
	background: #fef9ef;
	padding: 10px 30px;
}
/* @group ul,li */

li {
	margin-bottom: 5px;
	margin-top: 5px;	
}

ul.departement {
	padding-left: 0;
}

ul.departement li {
	text-align: justify;
	list-style-position: inside;
}
li.voir {
	list-style-image: url(../images/AVoirGris.png);
}

li.voirD100 {
	list-style-image: url(../images/AVoirCalcul.png);
}

li.voirD300 {
	list-style-image: url(../images/AVoirDesir.png);
}

li.voirD500 {
	list-style-image: url(../images/AVoirDonnees.png);
}

li.voirD700 {
	list-style-image: url(../images/AVoirReseaux.png);
}

li.voirD900 {
	list-style-image: url(../images/AVoirPuce.png);
}

li.D0 {
	list-style-image: url(../images/PuceCarreeGrisSombre.png);
}

li.D100 {
	list-style-image: url(../images/PuceCarreeCalcul.png);
}

li.D300 {
	list-style-image: url(../images/PuceCarreeDesir.png);
}

li.D500 {
	list-style-image: url(../images/PuceCarreeDonnee.png);
}

li.D700 {
	list-style-image: url(../images/PuceCarreeReseaux.png);
}

li.D900 {
	list-style-image: url(../images/PuceCarreePuce.png);
}

li.D999 {
	list-style-image: url(../images/PuceCarreeMulti.png);
}


li.NAT {
	color: #0d407f;
}

/* @end */

div.encadre {
	background-color: #e9dfce;
	margin-bottom: 8px;
	margin-top: 8px;
	clear: both;
	overflow: hidden;
	border: 1px solid #667f9e;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 0px 10px 0px 10px;
	-webkit-border-radius: 0px 10px 0px 10px;
	-moz-border-radius: 0px 10px 0px 10px;
	-o-border-radius: 0px 10px 0px 10px;
	padding-bottom: 5px;
}

#centre.une div.encadre.actualite {
	clear: none;
}

#organisation div.encadre {
	clear: none;
	float: left;
	width: 45%;
	margin-left: 22px;
}

#organisation hr {
	clear: both;
	visibility: visible;
	border: 2px solid #706b61;
}

#organisation .portrait {
	width: 64px;
	height: 64px;		
}

div.encadre h1, div.encadre h2 {
	margin-top: 3px;
}

div.encadre div.encadre {
	background-color: #e5ca9e;
	border-width: 0;
}

div.encadre hr {
	border-color: #667f9e;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 5px;
}

span.trouve {
	background-color: rgba(210,255,125,0.5);
}

.cote, .autre_cote {
	margin-bottom: 10px;
	margin-top: 5px;
}
.cote {
	float: left;
	margin-right: 10px;
}

.autre_cote {
	float: right;
	margin-left: 10px;
}

.portrait {
	margin: 9px;
	width: 128px;
	height: 128px;	
}

.cote.reflet {
	-webkit-box-reflect: left 0px -webkit-gradient(linear, right top, left top, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, 0.6)));
}

.autre_cote.reflet {
	-webkit-box-reflect: right 0px -webkit-gradient(linear, left top, right top, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, 0.6)));
}

img.miniature {
	border: 4px ridge #c0c0c0;
}

div.miniature {
	height: 180px;
	width: 265px;
	overflow: hidden;
	float: right;
	padding-left: 10px;
	text-align: center;
	line-height: 1em;
}

span.directeur, span.encadrant, span.equipe {
	color: #005aa2;
}

span.sujet {
	font-style: italic;
	display: block;
}

span.sujet.fr {
	text-align: justify;
}

.encadre.emploi span.sujet {
	font-weight: normal;
	font-style: normal;
}

.encadre.emploi span.sujet h1 {
	background-color: #e5ca9e;
	border-bottom: 2px solid #ac8e5b;
	padding-bottom: 3px;
	border-radius: 10px 10px 0px 0px;
	padding-left: 9px;
	padding-top: 4px;
	margin: 0 -5px 5px;
}

span.horaire {
	color: #000;
	font-style: italic;
}

span.intervenant {
	color: #000;
	font-style: italic;
}

/* @group menu1 Niv1 */

#menu1,#menu2,#mcote {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 1em; 
    line-height: 1.5em;
}

#menu1 {
	position: absolute;
	width: 765px;
	top: 122px;
	clear: both;
	margin-left: 125px;
}

#menu1 dl {
	height: 20px;
}

#menu1 dd {
	float: left;
}

#menu1 a {
	color: #5e5e5e;
	background-color: transparent;
	display: block;
	height: 21px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 0.3em;
}

#menu1 a:hover, #menu1 .current a {
	color: #005aa2;
	background-color: #ebe0cd;
}

#menu1 a:hover, #menu1 .current a:hover {
	background-color: #ac8e5b;
}

/* @end */

/* @group menu2 Niv2 */

#menu2 {
	clear: both;
}

#menu2 dl {
	background: #ebe0cd;
	width: auto;
	height: 21px;
	border-bottom: 1pt dotted #667f9e;
}

#menu2 dd {
	float: left;
	border-right: 2px solid #706b61;
}

#menu2 a {
	height: 19px;
	color: #5e5e5e;
	background-color: transparent;
	display: block;
	padding: 0.2em 10px 0;
}

#menu2 ul.drapeaux a {
}

#menu2 a:hover, #menu2 .current a {
	color: #005aa2;
	background-color: #c6ab7c;
}

#menu2 a:hover, #menu2 .current a:hover {
	background-color: #a16f1c;
}


#menu2 div.gauche {
	width: 124px;
	height: 22px;
	background-color: #ebe0cd;
	float: left;
	border-right: 2px solid #706b61;
}

#menu2 ul.drapeaux a.langue_courante, #menu2 ul.drapeaux a:hover, #menu2 table.drapeaux a.langue_courante, #menu2 table.drapeaux a:hover {
	opacity: 1;
}

#menu2 ul.drapeaux a, #menu2 table.drapeaux a {
	height: 11px;
	opacity: 0.3;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding: 0;
}

#menu2 ul.drapeaux a {
	-webkit-transition-property: number;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: number;
	-moz-transition-duration: 0.5s;
	-o-transition-property: number;
	-o-transition-duration: 0.5s;
	transition-property: number;
	transition-duration: 0.5s;
}

#menu2 div.gauche ul.drapeaux {
	list-style-type: none;
	margin-left: 2px;
	padding: 0;
	line-height: 0;
	font-size: 0;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#menu2 div.gauche ul.drapeaux li {
	position: relative;
	display: inline-block;
	margin: 0;
}

#menu2 div.gauche ul.drapeaux li a img {
	width: 16px;
	height: 11px;
}

/* @end */

#menu1 dd, #menu2 dd, #mcote dd {
	-webkit-transition-property: number;
	-webkit-transition-duration: 0.2s;
	-moz-transition-property: number;
	-moz-transition-duration: 0.2s;
	-o-transition-property: number;
	-o-transition-duration: 0.2s;
	transition-property: number;
	transition-duration: 0.2s;
	}
#menu1 dd a, #menu2 dd a, #mcote dd a {
	-webkit-transition-property: number;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: number;
	-moz-transition-duration: 0.5s;
	-o-transition-property: number;
	-o-transition-duration: 0.5s;
	transition-property: number;
	transition-duration: 0.5s;
	}

#nav {
	background: #fef9ef;
	border-bottom: 1pt dotted #667f9e;
	height: 21px;
}

#nav img {
	height: 17px;
	width: 125px;
	margin-top: 2px;
}

#glyphes {
	width: 124px;
	height: 21px;
	border-right: 2px solid #706b61;
	float: left;
}

#chemindefer {
	margin-left: 5px;
	display: inline;
}

#chemindefer a {
	color: #cd6539;
	letter-spacing: 2px;
}

/* @group mcote Niv3 */

#mcote {
	float: left;
	width: 125px;
	clear: both;
	position: relative;
}

#mcote dd.INFOsLIP6 p {
	text-align: center;
}

#mcote dl {
	margin-bottom: 3px;
	background-color: #667f9e;
	font-style: italic;
}

#mcote dl dl {
	text-align: right;
	font-style: normal;
	font-weight: normal;
}

#mcote a, #mcote.current a:hover {
	color: #d5d9e4;
	background-color: #706b61;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0px;
}


#mcote a:hover, #mcote dd.current a {
	color: #005aa2;
}

#mcote dd.current a {
	background-color: #c6ab7c;
}

#mcote a:hover, #mcote dd.current a:hover {
	background-color: #b68c65;
}


#mcote a:active {
	color: gray;
}

#mcote a.intranet {
	background-color: transparent;
}

#mcote a.webmail {
	background-color: transparent;
}

/* @end */

#mcote ~ #centre {
	width: 735px;
	padding: 10px 20px;
}

table.annuaire {
	width: 100%;
}

span.lieu {
	font-style: italic;
}

td.tel {
	text-align: right;
	width: 18%;
}

td.bureau {
	width: 25%;
}

.encadre div.droite {
	float: right;
}

.col2 {	
-webkit-column-rule: 1px solid #667f9e;
-webkit-column-count:2;
-webkit-colum-width:50%;  
-webkit-column-gap:20px;	
-moz-column-count:2;
-moz-colum-width:50%;  
-moz-column-gap:20px;	
-o-column-count:2;
-o-colum-width:50%;  
-o-column-gap:20px;	
column-count:2;
colum-width:50%;  
column-gap:20px;	
column-rule: 1px solid #667f9e;
}

.col3 {	
-webkit-column-rule: 1px solid #667f9e;
-webkit-column-count:3;
-webkit-colum-width:30%;  
-webkit-column-gap:20px;	
-moz-column-count:3;
-moz-colum-width:30%;  
-moz-column-gap:20px;	
-o-column-count:3;
-o-colum-width:30%;  
-o-column-gap:20px;	
column-count:3;
colum-width:30%; 
column-gap:20px;
column-rule: 1px solid #667f9e;
}

.discret {
	opacity: 0.5;
}

td.pas_arrive {
	font-style: italic;
}

#centre img.Organigramme {
	left: 62px;
	position: relative;
}

sup {
	line-height: 80%;
}

ul.departement li a {
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px; 
}
/* @group Publications */


div.author {
		display: none;
}

#centre div.author div.header {
}

table.author_details {
		display: none;
}

div.publication_list span.title a {
	font-weight: bold;
	color: black;
}

div.publication_list div.header:first-child {
			 : none;
}
div.publication_list div.header {
			display: block;
	margin-top: 5px;
}

div.publication_list table {
	padding-left: 12px;
}

/* @end */
span.provisoire {
	top: 200px;
	float: none;
	left: 300px;
	position: absolute;
	opacity: 0.8;
	color: #ff00fd;
	font: italic small-caps bold xx-large Georgia, "Times New Roman", Times, serif;
	text-align: center;
	z-index: 1;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}


div.vcard span.url, span.geo, span.og , span.country-name {
	display: none;
}

div.vcard span.locality {
	text-transform: uppercase;
}

td.adresse {
vertical-align:top;
}

td.adresse p {
	text-align: left;
}

td.adresse div.vcard {
	background-color: #bcc9d6;
	background-color: #b4cef2;
	border: 1px solid #667f9e;
	font: "Courier New", Courier, mono;
	padding: 5px;
	margin-right: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}


td.map img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

td.map {
	width: 600px;
}

div.iuf table {
	border-style: dotted;
	margin: 5px;
	padding: 5px;
	background-color: #bcc9d6;
	border-width: 1px;
}


span.comment caption {
	font-weight: bold;
}

div.vcard span.street-address, div.vcard span.post-office-box {
	display: block;
}

audio {
	opacity: 0.5;
}

div.onlyprint {
	display: none;
}

.secondplan {
	-webkit-transition-property: number;
	-webkit-transition-duration: 0.8s;
	-moz-transition-property: number;
	-moz-transition-duration: 0.8s;
	-o-transition-property: number;
	-o-transition-duration: 0.8s;
	transition-property: number;
	transition-duration: 0.8s;
	opacity: 0.3;
}

#type_pub {
	display: inline;
	padding: 2px;
	border-style: dotted;
	border-width: 1px;
}

#type_pub label {
	padding-left: 2px;
	padding-right: 2px;
}

#pubs li.hors_lip6 {
	font-size: smaller;
}

#pubs li.hors_lip6 span.auteurs {
}

ul#pubs {
	padding: 0;
	list-style-type: none;
}

span.year_number {
	color: #706b61;
}


span.commentaire {
	font-size: x-small;
}

/* @group organigramme */

div.organigramme hr {
	padding-top: 10px;
	padding-bottom: 10px;
	border-style: none;
	clear:      both;
	margin:     0;
	display:    block;
	visibility: hidden;
	border:     none;
	height:     0;
}


div.organigramme {
	float: left;
	background-color: white;
	border:1px solid black;
	padding: 10px;
	margin-left: 10px;
}
div.organigramme a.close {
	float: right;
	position: relative;
	top: -10px;
	right: -5px;
}
div.organigramme h2 {
	font-size: large;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 3px;
	padding: 2px;
	font-variant: small-caps;
	color: black;
	font-size: 2em;
}

div.organigramme h1 {
	font-size: 1.2em;
}

#departements dd dd span.nom, #departements dd dd span.prenom {
	color: #11568d;
	font-size: 0.9em;
}

/* @group lip6 */

#lip6 dl {
	text-align: center;
	font-size: 1.5em;
}

#lip6 dd {
	display: inline-block;
	width: 30%;
	font: 0.8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding-left: 8px;
	margin-right: 10px;
	vertical-align: top;
}

#lip6 dd.L {
	width: 46%;
}
#lip6 dd.S {
	width: 23%;
}

#lip6 dd.titre a {
	display: block;
	background-color: #706b61;
	color: white;
	font-size: 1.2em;
	font-variant: small-caps;
}


#lip6 dl dd.titre dl.contenu {
	border-width: 1px;
	border-style: solid;
	}

#lip6 dd.titre dl.contenu a, #lip6 dd.titre dl.contenu {
	color: #434343;
	font-size: 1em;
	font-variant: normal;
	background-color: #ebe0cd;
}

#lip6 dd a:hover {
	color: #dbc1fd;
	text-decoration: none;
}

#lip6 dd dd {
	width: 90%;
	text-align: left;
	font-size: 0.9em;
	background-color: #ebe0cd;
}

dd.break {
	border-top-style: solid;
	border-top-width: 1px;
	margin-top: 5px;
}


#lip6 dd dd span.nom {
	font-size: 1.1em;
	color: #11568d;
	font-variant: small-caps;
}
#lip6 dd dd span.prenom {
	font-size: 1.0em;
	color: #11568d;
}
/* @end */

/* @group departements */

#departements dd.D100, #departements dd.D300,
#departements dd.D500, #departements dd.D700,
#departements dd.D900
{
	width: 19%;
	float: left;
	background-color: #706b61;
	margin-right: 5px;
}

#departements dd a {
	border-style: solid;
	display: block;
	height: 50px;
	text-align: center;
	color: white;
	border-color: #535d66;
	font: normal small-caps 1.1em/1.05em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#departements dl dd {
		color: white;
}

#departements dd a:hover {
	color: #dbc1fd;
	text-decoration: none;
}

#departements dd.D100 a, #departements dd.D300 a,
#departements dd.D500 a, #departements dd.D700 a,
#departements dd.D900 a,
.equipe a {
	border-bottom-style: solid;
	border-color: #706b61;
}

#departements dd.D100 a, #departements dd.D300 a,
#departements dd.D500 a, #departements dd.D700 a,
#departements dd.D900 a {
	border-bottom-width: 4px;
}

.equipe a {
	border-bottom-width: 0.2em;
}

.equipe a:hover {
	border-bottom-width: 0.4em;
}

#departements dd.D100 a, .equipe a.D100 {
	border-bottom-color: #a5dae8;
}
#departements dd.D300 a, .equipe a.D300 {
	border-bottom-color: #fdef91;
}
#departements dd.D500 a, .equipe a.D500 {
	border-bottom-color: #b1ce6f;
}
#departements dd.D700 a, .equipe a.D700 {
	border-bottom-color: #c492be;
}
#departements dd.D900 a, .equipe a.D900 {
	border-bottom-color: #f1b078;
}

#departements dd.D100 dd a, #departements dd.D300 dd a,
#departements dd.D500 dd a, #departements dd.D700 dd a,
#departements dd.D900 dd a {
	border-bottom-style: none;
}

#departements dd dl {
	border: 1px groove #535d66;
}

#departements dd dd{
	background-color: #ebe0cd;
}

#departements dd dd a {
	display: block;
	font-size: 1.2em;
	border-style: none;
	height: inherit;
	color: #706b61;
	border-bottom-style: none;
	padding-top: 3px;
	margin-top: 1px;
	padding-left: 5px;
	padding-bottom: 2px;
	text-align: left;
}

#departements dd dd a:hover {
	color: #7241b5;
	text-decoration: none;
/*	letter-spacing: 1px;*/
	text-shadow: #000000 0 0 9px;
}
/* @end */
/* @end */

